.about {
  &__container {
    background: $white;
    width: 80%;
    padding: $about-padding 10%;
    z-index: 50;
    display: flex;
  }
  &__arrow {
    position: absolute;
    width: 2%;
    top: $nav-top-padding + $nav-height;
    left: 30%;
    z-index: 1000;
  }
  &__items {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-transform: uppercase;
    &--selected {
      color: $black;
    }
  }
  &__item {
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 1rem;
    color: $gray;
    cursor: pointer;
    &--selected {
      color: $black;
    }
  }
  &__content {
    width: 50%;
    font-size: 1rem;
    line-height: 1.5rem;
    height: calc(100% - #{$nav-top-padding + $nav-height + 2*$about-padding});
    overflow-y: scroll;
  }
  &__para {
    width: 100%;
    display: flex;
  }
  &__credit-c {
    width: 50%;
  }
  &__credit-h {
    padding-top: 1rem;
  }
  &__thesis-2018 {
    display: flex;
    flex-direction: column;
  }
}
