.nav__container {
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  border-bottom: $gray 1px solid;
  display: flex;
  justify-content: space-between;
  &-left {
    width:40%;
  }
  &-right{
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.nav__heading {
  width: 100%;
}
