.project {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* margin: 0 auto; */
    padding: 5rem 25%;
    background: white;
        border-top: gray solid 1px;
  }
  &__close  {
    position: absolute;
    right: 20%;
  }

}
.carousel {
  display: flex;
  justify-content: space-around;
}
.thumbs {
  padding: 0;
}
.legend {
  display: none;
}
