.projects {
  background: $blue;
  display: flex;
  flex-wrap: wrap;
  width: 48%; //60% of 80%
  padding-left: 28%; //35% of 80%
  padding-right: 4%; //5% of 80%
  margin: 0 10%;
  &__container {
    padding: 0;
    width: 30.33%;
    margin: 1.5%;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
  }
  &__image {
    width: 100%;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  &__name {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  &__title {
    line-height: 1.4rem;
    height: 5.2rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  &__tags {
    background-color: $blue;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    font-size: 0.8rem;
  }
  &__tag {
    letter-spacing: 1.5px;
    padding-bottom: 0.4rem;
    list-style: none;
    text-transform: uppercase;
    padding-left: 0.8rem;
    color: $dark-blue;
    &--selected {
      color: $white;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .projects{
    width: 40%; //60% of 80%
    padding-left: 36%; //45% of 80%
    padding-right: 4%; //5% of 80%
    // margin: 0 10%;
    &__container {
      width: 47%;
      margin: 1.5%;
    }
    &__tags {
      font-size: 0.6rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .projects{
    width: 70%;
    padding: 0;
    margin: 0 15%;
    margin-top: 85%;
    &__container {
      width: 100%;
    }
  }
}
