.project {
  &__container {
    // display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    /* margin: 0 auto; */
    padding: $nav-top-padding 30%;
    background: white;
    // border-top: $black solid 1px;
    height: calc(100% - #{$nav-height + 2*$nav-top-padding + $nav-top-padding});
    overflow-y: scroll;
  }
  &__arrow {
    position: absolute;
    width: 2%;
    top: $nav-height + $nav-top-padding;
    left: 24%;
    z-index: 1000;
  }
  &__close  {
    text-decoration: none;
    color: $gray;
    position: absolute;
    right: 15%;
    margin-bottom: 1rem;
    border: none;
    font-size: 2rem;
    &:hover {
      color: $black;
    }
  }

  &__student-site {
    cursor: pointer;
    color: $gray;
    position: absolute;
    right: 15%;
    margin-top: $nav-height;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
  &__top {
    cursor: pointer;
    color: $gray;
    margin-top: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    &:hover {
      color: $black;
    }
  }
  &__title {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    letter-spacing: 3.5px;
    word-wrap: break-word;
  }
  &__student-name {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 1.2rem;
    text-align: center;
    letter-spacing: 3.5px;
  }
  &__details {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $dark-blue;
  }
  &__abstract, &__desc, &__further  {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    text-align: justify;
  }
  &__further {
    width: 100%;
  }
  &__further img{
    width: 100%;
  }
  &__further iframe{
    width: 100%;
  }

  &__vimeo {
    width: 100%;
    height: 400px;
  }
  &__text {
    display: flex;
  }

}
.carousel {
  display: flex !important;
  justify-content: space-around !important;
  background-color: $white !important;
}

.carousel .thumbs-wrapper {
  // display: none !important;
}
.carousel .slide {
  background-color: $white !important;
}
.dot {
  // background-color: $black !important;
  // width: 15px !important;
  // height: 15px !important;
  display: none !important;
}
.thumbs {
  padding: 0 !important;
}
.legend {
  display: none !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 15px solid $dark-blue !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 15px solid $dark-blue !important;
}
.carousel .slider-wrapper {
  margin-top: 2rem !important;
}
.carousel .control-dots {
    bottom: 10 !important;
    /* padding-top: 1rem; */
    margin: 0 !important;
    padding: 0 !important;
}

.carousel-status {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  .project{
    &__arrow {
      position: absolute;
      width: 2%;
      top: $nav-height + $nav-top-padding;
      left: 30%;
    }
    &__container {
      height: calc(100% - #{$nav-height-mobile + 2*$nav-top-padding + $nav-top-padding});
    }
  }
}

@media only screen and (max-width: 768px) {
  .project{
    width: 90%;
    &__arrow {
      display: none;
    }
    &__details {
      flex-direction: column;
      align-items: center;
    }
    &__container {
      width: 70%;
      padding: $nav-top-padding 15%;
      height: calc(100% - #{$nav-height-mobile + 2*$nav-top-padding +  $nav-top-padding-mobile});
    }
    &__close {
      right:5%;
    }
    &__student-site {
      position: initial;
      display: flex;
      margin: 0;
      justify-content: center;
    }
  }
}
