.projects {
  background: $blue;
  display: flex;
  flex-wrap: wrap;
  width: 48%; //60% of 80%
  padding-left: 28%; //35% of 80%
  padding-right: 4%; //5% of 80%
  margin: 0 10%;
  &__container {
    padding: 0;
    width: 30.33%;
    margin: 1.5%;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
  }
  &__image {
    width: 100%;

  }
  &__name {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  &__title {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  &__tags {
    background-color: $blue;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    font-size: 0.8rem;
  }
  &__tag {
    list-style: none;
    text-transform: uppercase;
    padding-left: 0.8rem;
    &--selected {
      color: $white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .projects{
    width: 90%;
    padding: 0;
    margin: 0 5%;
    &__container {
      width: 100%;
    }
  }
}
