.tag-circle {
  &__container {
    position: absolute;
    background-color: $white;
    width: 22%;
    z-index: 100;
    margin-top: 3rem;
  }
  &__nav {
    display: flex;
  }
  &__close {
    width: 100%;
  }
  &__main {
    display: flex;
    justify-content: center;
  }
}
.node {
  // font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  fill: #bbb;
  text-transform: uppercase;
  cursor: pointer;
}
.node::before{
   content: 'tes';
   width: 15px;
   height: 15px;
   border-radius: 7.5px;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: none;
  fill: none;
  // pointer-events: none;
}

.node--source,
.node--target {
  font-weight: 700;
  fill: #888;
}

.node:hover {
  fill:black;
}

.node--source {
  fill: black;
}

.node--target {
  fill: black;
}

.link--target {
  stroke-opacity: .2;
  stroke-width: 1px;
}

.link--target {
  stroke:black;
  &:hover {
    stroke: black;
    cursor: pointer;
    stroke-width:8px;
  }
}

.link--source {
  stroke: red;
  cursor: pointer;
  stroke-width:8px;
}

@media only screen and (max-width: 1200px) {
  .tag-circle {
    &__container {
      width: 32%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .tag-circle {
    &__container {
      width: 90%;
    }
  }
}
